.App {
  text-align: center;
}


 ul.navLinks{
  list-style-type: none;
  margin-top: 70px;
  margin-left: 0px;
  padding: 0px;
  width: 100px;
  height: 650px;
  background-color: #333;
  position: fixed;
  overflow: hidden;
  text-decoration: none;
}


li.liLinks{
  display: block;
  width: 60px;
  height: 100px;
  color: #e4dfe8;
  padding: 30px 43px;
  
}

.muestra{
  border: 0;
  padding: 0;
  border: 1px solid #555;
  line-height: 25px;
  margin: 5px 20px;
  /*float: left;*/

}

.alta{
  width: 20%;
}

input, select{
  width: 20%;
  margin: 5px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.CrearOkr{
  float: left;
}

.CrearRc{
  float: left;
}

.ConOkr{
  border: 1px solid #555;
}

.ConRc{
  border: 1px solid #555;
}

.posicion{
  float: left;
  border: 1px solid #555;
  width: 100px;
  height: 25px;
  margin: 2%;
}
.despliegue{
  margin-left: 7.8%;
  padding: 90px 120px;
  border: 1px solid #555;
}

.nombre{
  width: 9%;
}

.equipo{
  width: 10%;
}

.prioridad{
  width: 10%;
}

.progreso{
  width: 20%;
}

.Elimina{
  width: 12%;
}

.Edita{
  width: 12%;
}