label{
    display: inline;
    border: 5px;
    margin: 5px;
}

span{
    border: 5px;
    margin: 5px;
}

.okr{
    background-color: #a5c7d1;
    padding: 15px; 
    margin: 10px; 
    width: 750px;
    align: left;
    border-radius: 25px;
    float: left;
    display: inline;
}

.rc{
    background-color: #9ad498;
    padding: 15px;
    margin: 30px;
    text-align: left;
    width: 600px;
    border-radius: 25px;
}

.cuerpo{
    width: 1000px;
    border: 3px;
    margin: 3px;
}

.barra{
    width: 400px;
    float: center;
}